/* src/styles/Card.css */
.card {
  background-color: var(--white);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 2px 5px var(--card-shadow);
  text-align: center;
}

.card h5 {
  font-size: 18px;
  margin-bottom: 10px;
  color: var(--dark-gray);
}

.card .value {
  font-size: 28px;
  font-weight: bold;
  color: var(--primary-color);
}

.card .description {
  font-size: 14px;
  color: var(--dark-gray);
}
