/* src/styles/Sidebar.css */
.sidebar {
  width: 240px;
  height: 100vh;
  background-color: var(--light-gray);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu-item {
  font-size: 16px;
  font-weight: 500;
  margin: 15px 0;
  color: var(--dark-gray);
}

.menu-item.active {
  color: var(--primary-color);
  font-weight: bold;
}
